.cards {
  display: grid;
}

.card { 
  max-height: 220px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  display: flex;
  block-size: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.home-nav {
  background-color: black;
  color: white;
  display: flexbox;
  justify-content: space-between;
  height: 50px;
}

.top-form {
  float: right;
}

.top-form input {
  padding: 6px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
  width: 300px;
}

.top-form button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 80px;
}

.top-form button:hover {
  background: rgba(221, 221, 221, 0.411);
}

.navlink {
  margin-right: 40px;
  margin-top: auto;
  justify-content: space-between;
  font-size: x-large;
  color: green;
  padding: 5px 10px;
  text-decoration: none;
  margin-left: 30px;
}

.sign {
  justify-content: center;
  margin-top: 300px;
  margin-left: 500px;
}

.nav-home {
  background-color: rgba(17, 0, 255, 0.658);
  height: 50px;
}

.nav-home a {
  font-size: x-large;
  color: red;
  background-color: rgb(127, 255, 185);
  padding: 5px 5px;
  text-decoration: none;
  margin-left: 30px;
  padding-top: 10px;
}

.overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 50px;
  font-size: xx-large;
  color: white;
}

.sign {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  font-size: xx-large;
  color: white;
  justify-content: center;
}

.card-image {
  width: 130px;
}